<app-menu></app-menu>
<router-outlet></router-outlet>

<!--<div class="text-layout">
    <h1>{{ nombre | uppercase}}</h1>
    <h1>{{ valor | number}}</h1>
    <h1>{{ obj | json}}</h1>
</div>

<p-button (click)="mostrarNombre()" 
          icon="pi pi-bell" 
          iconPos ="right" 
          class="p-button-help"
          label="Cambiar Nombre">
</p-button><br><br>

<p-card header="Simple Card" subheader="Esto es un subheader" class="card">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, fugiat? Dolorum quibusdam dignissimos corrupti fugiat quod ullam ut dicta, nulla consequuntur exercitationem amet commodi itaque quis similique porro explicabo deserunt.
</p-card>-->