<div class="animate__animated animate__bounce">
    <h2>Por Region: <small>{{regionActiva | titlecase}}</small></h2>
    <hr>
    <p>Seleccione una región</p><br>
</div>

<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones" [class]="getClaseCSS(region)" (click)="activarRegion(region)">
            {{region}}
        </button>
    </div>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>