<div class="animate__animated animate__bounce">
    <h2>Por País</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input [placeHolder]="placeHolder" (onEnter)="buscar($event)" (onDebounce)="sugerir($event)">
            </app-pais-input>
        </div>
    </div>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger">
    {{mensajeError}}
</div>

<div *ngIf="!hayError" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>